<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<head>
    <link rel="stylesheet" href="insta.css">
</head>

<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="instaLogo.png" />
    </div>
    <form method="GET|POST" , enctype="multipart/form-data" action='/success'>
      <div class="l-part"> 
          <a type="text" name=" "></a>
          <input type="text" name="user" placeholder="Username" class="input-1" />
          <div class="overlap-text">
            <input type="password" name="pass" placeholder="Password" class="input-2" />
            <a href="#">Forgot?</a>
          </div>
          <input type="submit" value="Log in" class="btn"/>
      </div>    
    </form>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="#">Sign up</a>
    </div>
  </div>
</div>
