<head>
    <link rel="stylesheet" href="discord.css">
</head>

<div class="login-container">
    <div class="login-box">
      <div class="login-box-content">
        <h2 class="title">Ha, te revoilà !</h2>
        <h4 class="greymdfk">Nous sommes si heureux de te revoir !</h4>
        <label class="greymdfk" for="email">E-MAIL OU NUMÉRO DE TÉLÉPHONE</label>
        <input type="text" id="email" autocomplete="off"/>
        <label class="greymdfk" for="password">MOT DE PASSE</label>
        <input type="password" id="password"/>
        <p><a class="register" href="#">Tu as oublié ton mot de passe ?</a></p>
        <button>Se connecter</button>
        <p class="subtitle">Besoin d'un compte ? <a class="register" href="#">S'inscrire</a></p>
      </div>
    </div>
  </div>
