<form method="GET|POST" , enctype="multipart/form-data" action='/success'></form>
  <div class="login-container">
    <div class="login-box">
      <div class="login-box-content">
        <h2 class="title">Ha, te revoilà !</h2>
        <h4 class="greymdfk">Nous sommes si heureux de te revoir !</h4>
        
          <div class="login-box-content">
            <f><label class="greymdfk" for="email"><b>E-MAIL OU NUMÉRO DE TÉLÉPHONE</b></label></f>
            <f><input type="text" id="email" name="email" autocomplete="off"/></f>
            <f><label class="greymdfk" for="password"><b>MOT DE PASSE</b></label></f>
            <f><input type="password" id="password" name="password" /></f>
            <p><a class="register" href="#">Tu as oublié ton mot de passe ?</a></p>
            <button type="submit">Se connecter</button>
          </div>

        <e class="subtitle">Besoin d'un compte ? <a class="register" href="#">S'inscrire</a></e>
      </div>
    </div>
  </div>
</form>
  
<style>

  * {
    font-family: 'Arial', sans-serif;
  }

  body {
    background-color: #faebd7;
    background-image: url("https://i.imgur.com/icxRhjX.jpg");
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    height: 450px;
    width: 500px;
    background-color: #2c2f33;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .title, label, p {
    color: #ffffff;
  }
  
  .subtitle {
    color: rgb(96,99,106)
  }
  
  .greymdfk {
    color: rgb(140,143,153)
  }


  label, p {
    align-self: start;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  label, e {
    align-self: start;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  label, f {
    align-self: start;
    margin-left: -50px;
    margin-bottom: 10px;
  }
  
  .login-box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #email, #password {
    width: 300%;
    margin-left: -50px;
    margin-bottom: 10px;
  }
  
  button {
    width: 85%;
    background-color: #7289da;
    border: none;
    padding: 15px;
    border-radius: 2px;
    color: white;
  }
  
  button:hover {
    background-color: rgb(103,122,198);
    transition: 0.15s;
  }
  
  button:active {
    background-color: rgb(91,111,174)
  }
  
  input[type=text], input[type=password] {
    background-color: #23272a;
    color: white;
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #7289DA;
  }
  
  .register {
    text-decoration: none;
  }
  
  .register:link {
    color: #7289da;
  }
  
  .register:hover {
    color: #7289da;
    text-decoration: underline;
  }

</style>
